body{
  /*background-color: #e3fdfd;*/
  background-color: #faf2da;
}
.login-form{
  text-align: center;
  background-color: white;
  margin-top: 28px;
  padding: 150px 1px;
  width: 85%;
}
.blogging{
  margin-top: -100px;
  margin-bottom: 100px;
  font-family: 'Balsamiq Sans', cursive;
}
.login-label{
  font-family: 'Poppins', sans-serif;
  color: grey;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 1.1rem;
}
.form-control{
  width: 70%;
  margin: auto;
}
.login-button{
  margin-top: 20px;
}
.index-main-image{
  margin-top: 5%;
}
.index-middle-section-text{
  text-align: center;
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #7b6079;
  font-weight: bold;
}
.middle-section-image{
  margin: 50px 10px 50px 0px;
}